@charset "UTF-8";

/* Paleta de cores

Cinza: #bdbec3
Cinza Escuro: #2b3942
Bege: #9a644c

*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(#9b9c9f, #0d2735);
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(39, 39, 39, 0.401);
}

div#imagem {
    height: 200px;
    background: transparent url(../imagens/paisagem.png) no-repeat bottom center fixed;
    background-size: cover;
}

div#formulario {
    margin-top: 15px;
}

#formulario > h1 {
    text-align: center;
    margin-bottom: 15px;
}

p#bem-vindo {
    text-align: center;
    line-height: 1.4em;
}

input {
    display: block;
}

input.dados {
    border: none;
    border-bottom: 1px solid #052231;
    padding: 10px;
}

input#iemail {
    margin: 30px auto 0px
}

input#isenha {
    margin: 25px auto 15px;
}

input#ienviar {
    margin: 40px auto;
    padding: 15px;
    width: 180px;
    border-radius: 30px;
    border: 0px;
    background-image: linear-gradient(-95deg, #e86836, #e25214, #af3f10);
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.42);
}

input#ienviar:hover {
    transform: scale(1.08);
    cursor: pointer;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.453);
}

p#criar-conta {
    position: absolute;
    width: 226px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

p#criar-conta > a {
    text-decoration: none;
    color: #c96235;
    font-weight: bold;
}

p#criar-conta > a:hover {
    text-decoration: underline;
}